---
// CommentsSection.astro
import { useTranslation } from '@astro-monorepo/i18n';
import { Image } from 'astro:assets';

const lang = process.env.LANG || "en";
const t = useTranslation(lang);
---

<section class="comments-section">
  <div class="new-comment">
    <div class="comment-header">
      <h3>{t.comments.new_comment}</h3>
    </div>
    <textarea placeholder={t.comments.placeholder}></textarea>
    <div class="comment-actions">
      <button>{t.comments.send_button}</button>
    </div>
  </div>

  <div class="comments-list">
    {t.comments.list.map((comment) => (
      <div class="comment" >
        <Image src="/assets/default-user.jpg" alt={comment.name}  width={100} height={100}/>
        <div class="comment-content">
          <strong>{comment.name}</strong>
          <p>{comment.text}</p>
          <div class="comment-footer">
            <a href="#">{t.comments.reply}</a>
          </div>
        </div>
      </div>
    ))}
  </div>
</section>
